//WiFi Settings
#define SECRET_SSID "SSISNAMEHERE"
#define SECRET_PASS "WPA-Password-or-WEP-Key"
#define HOSTNAME "myhostname"

//MQTT Settings
#define MQTT_SERVER "ipaddress-or-hostname"
#define MQTT_DEVICE_NAME "lightning"
